DB_URL=jdbc:postgresql://localhost:5432/bombadle
DOCKER_DB_URL=jdbc:postgresql://db:5432/bombadle
DB_USERNAME=postgres
DB_PASSWORD=CHANGE_ME_strong_password
SERVER_PORT=8080

JWT_SECRET=supersecretcodesigmalongsecretkeyokoppa

STORAGE_ROOT_PATH=./data

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

FRONTEND_BASE_URL=https://bombadle.pl

# docker-compose helper
STORAGE_HOST_PATH=./backend/data/docker

COOKIE_SECURE=true
COOKIE_SAME_SITE=Lax
COOKIE_DOMAIN=bombadle.pl

DOMAIN=bombadle.pl
CERTBOT_EMAIL=twoj@email.pl

NGINX_IMAGE=ghcr.io/juliandemucha/bombadle-nginx:latest

MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS=true
MAIL_FROM=
