.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 3rem auto;
    gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;
}

.image-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    transition: transform 0.1s ease-out, filter 0.1s ease-out;
    position: relative;
}


.image-button-responsive {
    max-width: 300px;
}

@media (min-width: 380px) {
    .image-button-responsive {
        max-width: 500px;
    }
}

.image-button img {
    -webkit-user-drag: none;
    user-select: none;
    outline: none;
    display: block;
    width: 100%;
    max-width: 350px;
    height: auto;
}

.image-button:hover {
    transform: scale(1.03);
    filter: brightness(1.1);
}

.image-button:active {
    transform: scale(0.98);
    filter: brightness(0.9);
    transition-duration: 0.05s;
}

.button-mode-choice-container {
    display: flex;
    justify-content: center;
}

.button-mode-choice-container img {
    min-width: 400px;
    -webkit-user-drag: none;
    user-select: none;
    outline: none;
    display: block;
    width: 100%;
    max-width: 350px;
    height: auto;
}


