@font-face {
    font-family: 'PixelifySans';
    src: url('../assets/fonts/PixelifySans-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

:root {
    --primary: #11251a;
    --secondary: #a05f3d;
    --accent: #1c3c2a;


    --login_primary: #0d1d14;
    --login_secondary: var(--secondary);
    --shadow: 3px 3px 100px var(--login_primary);
}


html {
    background-color: #9E5F40;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #9E5F40;
    min-height: 100vh;
    background-image: url('../../public/img/background_img_alt.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
}

body.scrollable-page {
    overflow-y: auto !important;
    height: auto !important;
    background-attachment: scroll !important;
}