:root {
    --primary: #11251a;
    --secondary: #a05f3d;
    --accent: #1c3c2a;


    --login_primary: #0d1d14;
    --login_secondary: var(--secondary);
    --shadow: 3px 3px 100px var(--login_primary);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--login_secondary);
    background-image: url('../../public/img/background_img_alt.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: scroll;
}


