.profile-button {
    max-width: 50px;
    display: block;
    position: absolute;
    top: 2.5rem;
    right: 0.7rem;
}
@media (min-width: 370px) {
    .profile-button {
        max-width: 60px;
        top: 3rem;
        right: 0.7rem;
    }
}
@media (min-width: 500px) {
    .profile-button {
        max-width: 70px;
        top: 2.5rem;
        right: 3rem;
    }
}

@media (min-width: 769px) {
    .profile-button {
        max-width: 70px;
        top: 2.5rem;
        right: 7rem;
    }
}


@media (min-width: 1025px) {
    .profile-button {
        max-width: 90px;
        top: 3.75rem;
        right: 7rem;
    }
}

